@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

$bgColor: #121416;
$pink: #EF426F;
$yellow: #F0F179;
$gray: #373D43;
$dark-gray: #FFFFFF0D;
$light-gray: #FFFFFF99;
$dark: #00000033;
$white: #FFFFFF;
$purple: #853FEF;
$font-family-poppins: 'Poppins', sans-serif;